*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: #fff;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content:flex-end;
}

.box{
    height: 100px;
    flex: 0 0 200px;

}

.one{
    background:red;
    
}

.two{
    background: blue;
    
}

.three{
    background: green;
    
}

.four{
    background: rgb(211, 16, 211);
    
}
