*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: #fff;
}

.box{
    height: 200px;
    min-width: 100px;
}

.one{
    background:red;
}

.two{
    background: blue;
}

.three{
    background: green;
}

.four{
    background: rgb(211, 16, 211);
}
